## Pyspark RDD Operations

### Essential RDD Actions

.collect() Action

Returns all elements of the RDD as a Python list.

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
collect_rdd = sc.parallelize([1,2,3,4,5])
print(collect_rdd.collect())

[1, 2, 3, 4, 5]

.count() Action

Returns the number of elements in the RDD.

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
count_rdd = sc.parallelize([1,2,3,4,5,5,6,7,8,9])
print(count_rdd.count())

10

.first() Action

Returns the first element of the RDD.

In [ ]:
first_rdd = sc.parallelize([1, 2, 3, 4, 5])
print(first_rdd.first())

1

.take() Action

- Returns a list with the first n elements from the RDD.
- The ‘n’ argument takes an integer which refers to the number of elements we want to extract from the RDD.

In [ ]:
take_rdd = sc.parallelize([1, 2, 3, 4, 5])
print(take_rdd.take(2))

[1, 2]

.reduce() Action

The .reduce() Action takes two elements from the given RDD and operates. This operation is performed using an anonymous function or lambda.

In [ ]:
reduce_rdd = sc.parallelize([1,3,4,6])
print(reduce_rdd.reduce(lambda x,y: x+y))

14

.saveAsTextFile() Action

Saves the RDD as a folder of text files on the storage

In [ ]:
save_rdd = sc.parallelize([1,3,4,6,7,9,12,10])
save_rdd.saveAsTextFile('file.txt')